@media (min-width:500px) {
#main{
    background-image: url("./Images/worldedit.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     height: 100%;
     width: 100%;
     position: fixed;
    
   }
  } 
@media (max-width:500px) {
#main{
  background-image: url("./Images/worldedit.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   height: 100%;
   width: 100%;
   position: fixed;
 }
}@media (min-width:500px) {
#sub{
  width: 50%;
  height: 20%;
  background-color: rgb(188, 217, 233);
  color: black;

  text-align: center;
  margin: 5% 0 0 25% ;
}
}

@media  (max-width:500px) {
#sub{
    width: 50%;
    height: 30%;
    background-color: rgb(213, 231, 241);
    color: black;
    text-align: center;
    margin: 5% 0 0 25% ;
  }
}
@media (min-width:500px) {
#down{
    font-family:  Roboto;
    font-size: 2.5rem;
    padding: 2.5% 0 0 0;
  }
}
@media (max-width:500px) {
  #down{
      font-family:  Roboto;
      font-size: 2.5rem;
      padding: 2.5% 0 0 0;
    }
  }
@media (min-width:500px) {
#number{
      font-size: 1.2em;
      margin:2%;
    }
  }
@media  (max-width:500px) {
#number{
      font-size: 1.2em;
      margin:2%;

    }
  }
@media (min-width:500px) {
#btn{
    margin:0  0 1% 2%;
    font-size:1.2em ;
  }
  }
@media (max-width:500px) {
#btn{
      margin:0  0 1% 2%;
}
}
@media  (min-width:500px) {
  #find{
    background-color: ivory;
    width: 50%;
    height: 50%; 
    margin: 0 0 0 25%;
    padding: 3% 0 0 0 ;
    font-family: Roboto;
    font-size: 1.3em;
    
  }
}
@media (max-width:500px) {
  #find{
    background-color: ivory;
    width: 50%;
    height: 50%; 
    margin:  0 0  0 25%;
    padding: 3% 0 0 0 ;
    font-family: Roboto;
    font-size: 1em;


  }
}


